# ignore debug files
/Debug
/ucos_in/Debug

# ignore release files
/Release
/ucos_in/Release


# ignore visual studio's go-back files
*.sdf
*.opensdf

# ignore obj files
/ucos_in/obj
*.o
*.dep

# workspace files
*.v11.suo

# ignore visual gdb cache
/ucos_in/VisualGDBCache/

# ignore code db
/CodeDB
